{% extends 'base.html' %}
{% block content %}
<h1 class="text-center m-2">{{title}}</h1>
{% for article,category in Articles%}
<div class="row mb-3 mt-3">
    <div class=" col-sm-5 card text-center bg-light border-dark mx-auto">
        <div class="card-header m-3">
            {{category}}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{article.title}}</h4> <br>
            <label class="card-subtitle">{{article.Brief}}</label><br>
            <a href="{% url 'Article' article.id %}"><button class="btn btn-info mb-2 mt-2">View Article</button></a>
            <div class="card-footer text-muted">
                {{article.created_on}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}