{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" id="login-form">
            <form class="form-horizontal card login_form" method="POST">
                {% csrf_token %}
                <ul>
                    <p class="h4 text-center py-4">Login</p>
                    <div class="card-body">
                        <div class='md-form'>
                            {{form.username.errors}}
                            <label class="control-label col-sm-3"
                                for="{{ form.username.id_for_label }}">Username:</label>
                            {{form.username}}
                        </div>
                        <div class='md-form'>
                            {{form.password.errors}}
                            <label class="control-label col-sm-3"
                                for="{{ form.password.id_for_label }}">Password:</label>
                            {{form.password}}
                        </div>
                        </p>
                    </div>
                </ul>
                <button type="submit" class="btn-primary login">Login</button>
                {{form.errors}}
            </form>
        </div>
    </div>
</div>

{% endblock %}